@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body,html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: url("https://images.unsplash.com/photo-1568276731842-97cf7ef31220?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.tripurari {

    width: 750px;
    height: 100vh;
    margin: 58px auto 0;
    color: white;
}

.tripurari h1 {
    text-align: center;
    font-size: 35px;
}
.tripurari p {
    font-style: italic;
    text-align: center;
    font-size: 20px;
    margin-top: -15px;
}
form {
    background-color: #f39a9770;
    padding: 40px;
    border-radius: 3px;
    font-size: 21px;
    font-family: "League Spartan", sans-serif;

}

.umashankar > label {
    line-height: 32px;
}
.umashankar > *{
    margin-bottom: 20px;
}
input:not([type="radio"], [type="checkbox"], [type="submit"]), select {
    width: 50em;
    padding: 0.7em;
    border-radius: 7px;
    border: none;
    outline: none;
}

select {
    width: calc(50em / 1.02143555);
    font-size: 14px;
    height: 35.66px;
    /* padding: 10px; */
}
input:not([type="radio"], [type="checkbox"]):hover, select:hover {
    outline: 1px solid white;
}
::placeholder {
    font-size: 15px;
}
option {
    font-size: 15px;
    outline: none;
    border: none;
}

form > :nth-child(n) > span {
    line-height: 30px;   
}
form > :nth-child(2) > :not(span) {
    line-height: 30px;
}
form > :nth-child(2) > input {
   transform: scale(1.4);
}

form > :nth-child(3) {
    margin: 21px 0;
}

input[type="checkbox"] {
    transform: scale(1.4);
}
form > :nth-child(4) > span {
    line-height: 40px;
}
form > :nth-child(4) > :not(span) {
    line-height: 28px;
}

form > :nth-child(5) span {
    display: block;
    margin: 20px 0 -10px;
}
textarea {
    display: block;
    width: 100%;
    border: none;
    border-radius: 3px;
    margin-bottom: 30px;
}

input[type="submit"] {
    display: block;
    width: calc(100% * 1.00597015);
    padding: 13px;
    background-image: linear-gradient(to left,  #c16969, #ffde4c);
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
input[type="submit"]:hover {
    outline: none;
}

::placeholder {
    font-size: 17px;
}

